In [2]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

series data - 1-dimensional data

In [8]:
x = [9,3,12]

In [10]:
sr = pd.Series(x)
print(sr)

0     9
1     3
2    12
dtype: int64

dataframe - tabular data

In [20]:
carsdataset = {
'cars': ['Ferari', 'Honda', 'Toyota'],
'color': ['Green', 'Blue', 'Silver']
}
df = pd.DataFrame(carsdataset)
print(df)

     cars   color
0  Ferari   Green
1   Honda    Blue
2  Toyota  Silver

create excel sheet from data

In [23]:
data = {'col1': [1, 2], 'col2': [3, 4]}
df2 = pd.DataFrame(data)

In [34]:
df2.to_excel('output.xlsx',
sheet_name='Sheet1', index=False)

slicing dataframe

In [30]:
player_data = [['Player 1', 32, 75, 5428000],
['Player 2', 33, 74, 3428000],
['Player 3', 34, 70, 8428000],
['Player 4', 35, 80, 4428000],
['Player 5', 36, 100, 4528000],
['Player 6', 38, 72, 7028000],
['Player 7', 22, 85, 2528000]]

In [36]:
df3 = pd.DataFrame(player_data, columns=['Name', 'Age', 'Weight',
'Salary'])

In [53]:
print(df3)

       Name  Age  Weight   Salary
0  Player 1   32      75  5428000
1  Player 2   33      74  3428000
2  Player 3   34      70  8428000
3  Player 4   35      80  4428000
4  Player 5   36     100  4528000
5  Player 6   38      72  7028000
6  Player 7   22      85  2528000

In [61]:
df5 = df3.iloc[0:4]
print(df5)

       Name  Age  Weight   Salary
0  Player 1   32      75  5428000
1  Player 2   33      74  3428000
2  Player 3   34      70  8428000
3  Player 4   35      80  4428000

In [63]:
data = df[df['Age'] > 34].iloc[:, :]

In [65]:
print("\nFiltered Data based on Age > 34:\n", data)

Filtered Data based on Age > 34:
        Name  Age  Weight   Salary
3  Player 4   35      80  4428000
4  Player 5   36     100  4528000
5  Player 6   38      72  7028000

import csv

In [49]:
df4 = pd.read_csv('car-data.csv')

In [51]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unauthorized  0 non-null      object
dtypes: object(1)
memory usage: 132.0+ bytes

Add the content of one DataFrame to another

In [68]:
data1 = {
'name': ['Uma', 'Nova', 'Bella'],
'age': [40, 50, 20]
}
data2 = {
'Education': ['Ph.D', 'M.S', 'B.S']
}
df6 = pd.DataFrame(data1)
df7 = pd.DataFrame(data2)
newdf = df6.join(df7)
print(newdf)

    name  age Education
0    Uma   40      Ph.D
1   Nova   50       M.S
2  Bella   20       B.S

create dataframes from the dictionaries

In [71]:
data1 = {
'EmployeeID' : ['E001', 'E002', 'E003', 'E004', 'E005'],
'Name' : ['Kelly', 'Cat', 'Mat', 'Jhon', 'Sam'],
'DeptID': ['D900', 'D800', 'D900', 'D700', 'D800'],
}
employees = pd.DataFrame(data1)
data2 = {
'DeptID': ['D900', 'D700', 'D800'],
'DeptName': ['Computer', 'Accounts', 'HR']
}
departments = pd.DataFrame(data2)
# merge dataframes employees and departments
merged_df = pd.merge(employees, departments)
print(merged_df)

  EmployeeID   Name DeptID  DeptName
0       E001  Kelly   D900  Computer
1       E002    Cat   D800        HR
2       E003    Mat   D900  Computer
3       E004   Jhon   D700  Accounts
4       E005    Sam   D800        HR